{% extends 'Successful.html' %}


{% block menu %}
<ul>
	<li class='home'><a href="{{c}}T/home1">Home</a></li>
	<li class='mark'><a href="">Enter Marks</a></li>
	<li class="login"><a href="{{c}}" onmouseover="this.style.background='#CC0000'" onmouseout="this.style.background='#FFFFFF'">Logout</a></li>
</ul>
{% endblock %}


{% block content %}
<center>
	<div id="out" style="color: red">Subject not selected</div>
	<div id="eno" >Please select a subject to teach .....</div>
</center>
{% endblock %}